@import "../../styles/variables.scss";

.campaign-list {
  text-align: center;

  .spinner-grow {
    background-color: $baseGreen;
  }

  .status-column {
    display: flex;
    align-items: center;
  }

  .status {
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    margin: auto;
  }

  .badge {
    padding: 0;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    margin-right: .5em;
  }
}