@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";

body {
  font-family: Arial, Helvetica, sans-serif;
  background:$baseGrey;
}

.navbar {
  background: $baseGreen;

  .navbar-brand {
    color: $baseWhite;
  }
}

.campaign-list {
  background: $baseWhite;
  padding: 20px;
}

#wrapper {
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > div {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}